
Django==4.2.23
djangorestframework==3.16.0
django-cors-headers==3.14.0
djangorestframework-simplejwt==5.5.1
mysqlclient==2.2.7
pyjwt==2.10.1
sqlparse==0.5.3
Pillow==11.3.0
asgiref==3.9.1
gunicorn==21.2.0
